#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  height: 500px;
  width: 500px;
  aspect-ratio: square;
}

table {
  width: 100%;
  height: 100%;
}

table,
td {
  border: 2px solid white;
}

td {
  width: 33%;
  height: 33%;
}

td:hover {
  background-color: #88888882;
  transition: all;
  animation: 300ms ease-in-out;
}

section.info {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  place-content: space-between;
}

.player-box {
  display: flex;
  place-content: center;
  align-content: center;
  height: fit-content;
  gap: 1rem;
  font-size: 2rem;
}

.player-box span {
  font-size: 3rem;
  display: block;
}

.coords {
  color: gray;
}

.symbol-X {
  color: blue;
}
.symbol-O {
  color: red;
}
